body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
nav > a{
    text-decoration:none;
    background:#1976d2;
    color:white;
    padding:10px 15px;
    margin:5px;
    border-radius:5px;
    display:inline-block;
    transition:0.3s;
}
nav > a:hover{
    background:#0d47a1;
    transform:scale(1.05);
}
.container{
    margin: 30px;
    padding: 20px;
}
.card{
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 3px 3px 10px gray;
}
.card1{
    background-color: lightblue;
}
.card2{
    background-color: lightgreen;
}
.card3{
    background-color: lightyellow;
}
.card4{
    background-color: pink;
}
.profile1{
    background-color: #ffd6d6;
}
.profile2{
    background-color: #d6f5d6;
}
.profile3{
    background-color: #d6e4ff;
}
.profile4{
    background-color: #fff2cc;
}
.profile5{
    background-color: #f4d6ff;
}
.service-box{
    margin: 20px;
    padding: 25px;
    border: 3px solid navy;
    border-radius: 20px;
    box-shadow: 4px 4px 12px gray;
    background-color: white;
}
.gallery-box{
    width: 220px;
    display: inline-block;
    margin: 15px;
    padding: 15px;
    border: 2px solid #333;
    border-radius: 15px;
    box-shadow: 4px 4px 10px gray;
    background-color: white;
    text-align: center;
}
.gallery-box img{
    width: 100%;
    border-radius: 10px;
}
.box{
    border: 2px solid black;
    width: 300px;
    margin-bottom: 15px;
}
.no-margin{
    margin: 0;
}
.with-margin{
    margin: 25px;
}
.no-padding{
    padding: 0;
}
.with-padding{
    padding: 20px;
}
.no-radius{
    border-radius: 0;
}
.with-radius{
    border-radius: 20px;
}
.no-shadow{
    box-shadow: none;
}
.with-shadow{
    box-shadow: 5px 5px 15px gray;
}